set timeout=0
set default=0

insmod all_video
insmod theme

set gfxmode=auto
set gfxpayload=text
set theme=/boot/grub/theme.txt

menuentry "NucleOS" {
  multiboot /boot/kernel.bin
  module  /boot/rootfs.bin rootfs
  boot
}
